<h1> (username's) current playlists </h1>

need to show all of the users current playlists with buttons to archive the playlist or update it 

^ this probably doesn't need to be associated with a database, but will fill out the database information to be added to the correct columns

this needs to correspond to archived playlists 
<table border="1">
<tr>
  <th>
    playlist art
  </th>
  <th>
    playlist name
  </th>
  <th>
    full playlist
  </th>
  <th>
    archive playlist?
  </th>
</tr>


  <% @playlists.each do |playlist|%>
    <tr>
      <td><img src = <%= playlist.images.at(0).fetch("url")%> alt = "image artwork for playlist" width = 200 height = 200></td>
      <td><%= playlist.name%></td>
      <td><a href = "current_playlists/<%= playlist.id%>">full playlist</a></td>
      <td><form>archive playlist</form></td>
    </tr>
  <%end%>

</table>
